button.btn.sidebar__btn.w-100 {
    background-color: #ef720c;
    color: white;
    font-family: "Poppins", "sans-serif";
    padding: 15px 0;
    margin-bottom: 10px;
    font-size: 18px;
    text-align: left;
  }
  .is-active {
    background-color: rgba(167, 121, 83, 0.719) !important;
  }