/** 
** Footer section
*/
.footer-area {
    background-color: aliceblue;
  }
  .footer-logo img {
    max-width: 120px;
  }
  .footer-link a {
    line-height: 40px;
  }
  
  .footer-bottom p {
    margin: 0;
    color: #fff;
  }
  .footer-bottom span{
    color: rgba(180, 89, 4, 0.692);
   
  }